<div class="container coffee-profile-section">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h2 class="intro-text text-center">ELIDA ESTATES</h2>
        <hr>
      </div>
      <div class="col-md-6">
        <table>
          <tr>
            <td><strong>ORIGIN</strong></td>
            <td>ALTO QUIEL, PANAMA</td>
          </tr>
          <tr>
            <td><strong>PROCESS</strong></td>
            <td>NATURAL, WASHED and HONEY</td>
          </tr>
          <tr>
            <td><strong>VARIETY</strong></td>
            <td>CATUAI and GEISHA (BRONZE/GREEN TIP)</td>
          </tr>
          <tr>
            <td><strong>PRODUCER</strong></td>
            <td>WILFORD LAMASTUS</td>
          </tr>
          <tr>
            <td><strong>ALTITUDE</strong></td>
            <td>1650+ METERS</td>
          </tr>
          <tr>
            <td><strong>NICKNAME</strong></td>
            <td>SILICON VALLEY</td>
          </tr>
        </table>
        <p><strong>THE STORY</strong></p>
        <p>The Lamastus family is a synonym of the highlands of Panama. When I was in my teens I used to go up to the Feria de Boquete, an event full of concerts and festivities that took place once a year right around the same time when the coffee harvest was at its prime. I remember very clearly partying and sharing smiles with Lamastus kids for as long as I was in Boquete around that time of the year. The family has dedicated its life and labor to coffee, which is why their harvests are as precious as gold.</p><br>
        <p>Wilford Lamastus is an inventor. Like the great Teslas, Fords and Jobs he has never sat still and just sat down to admire the 90+ coffee that his family's farms have been producing for the past 7-8 years. From washed geishas to natural catuais, Wilford and before him, his father Thatcher, have tended an Elysium in the making. Many years ago Thatcher decided to experiment with the farms grounds, which limit with one of Panama's most beautiful national parks, so he began planting specimens from peaches to tree tomatos at different altitudes. And among those dispersed seeds, those placed in the highest areas of the farm, were Geisha seeds. When he observed with others that those Geisha plants yielded green or bronze tips, they went for quality and separated and planted more green tip plants. They produced a much clearer and succulent cup of coffee.Going back to Wilford and his magic beans. He has driven the quality and the depth of his profiles to such a point that he couldn't accept the fact that only those savvy connossieurs from the West Coast and from Japan got to enjoy such wonders, so he opened the first specialty coffee shop in Panama's Old Town (and graciously called it Bajareque, after the rain that feeds the coffee fields near the volcano).</p><br>
        <p>When I first came to Elida Estates, I was at the beginning of my quest of coffee. My brother was friends with Wilford Jr, the new generation of Lamastus, and the man behind Bajareque's roasting and managing. In 2013 he arranged for me to come during the next harvest in order to learn in the farm, watch his father in action and most importantly, love it so much that when I went back to Paris I would bring some with me. He was right. His father was a mix of Indiana Jones and Steve Jobs in the sense that he would be picking cherries with the boys in the farm and driving up baristas in the worst weather conditions, but would come back religiously to cup again and again and the end of the day spend his silent moments roasting away batch after batch. A visionary. An excellent teacher. And in the end I did come back with a quintal of Elida inside 3 backpacks. Quite a story.</p>

      </div>

      <div class="clearfix"></div>
    </div>
  </div>
   <hr>
  <div class="row text-center">
    <div class="box">
      <div class="col-lg-12" id="call_to_action">
        <h2><a href="/shop">COME AND <strong>VISIT OUR STORE</strong>. IT'S FULL OF DELICIOUS COFFEE!</a></h2>
      </div>
    </div>
  </div>
  <hr>
</div>