<div class="container coffee-profile-section">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h2 class="intro-text text-center">FINCA JARAMILLO</h2>
        <hr>
      </div>
      <div class="col-md-6">
        <p>Our founder, Juan Francisco Pardini, was born and raised in Panama. He developed an obsession with coffee from an early age, as it was the smell of wet coffee fields that kept bringing him back to the legendary area of Boquete every year. With a dream in mind he seeked the caffeine visionaries of this Century. From Stockholm to NYC to London to Paris. He learned roasting, espresso and farm production. When he got tired of jumping around, he created this company as a think tank to concentrate on the research and the craft of harnessing the rarest and finest coffees in Panama.</p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive img-border-left" src="/assets/roasting.jpg" alt="">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
   <hr>
  <div class="row text-center">
    <div class="box">
      <div class="col-lg-12" id="call_to_action">
        <h2><a href="/shop">COME AND <strong>VISIT OUR STORE</strong>. IT'S FULL OF DELICIOUS COFFEE!</a></h2>
      </div>
    </div>
  </div>
  <hr>
</div>