<div class="container coffee-profile-section">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h2 class="intro-text text-center">FINCA DEBORAH</h2>
        <hr>
      </div>
      <div class="col-md-6">
        <table>
          <tr>
            <td><strong>ORIGIN</strong></td>
            <td>TIERRAS ALTAS, PANAMA</td>
          </tr>
          <tr>
            <td><strong>PROCESS</strong></td>
            <td>NATURAL, WASHED and HONEY</td>
          </tr>
          <tr>
            <td><strong>VARIETY</strong></td>
            <td>GEISHA (BRONZE/GREEN TIP)</td>
          </tr>
          <tr>
            <td><strong>PRODUCER</strong></td>
            <td>JAMISON SAVAGE</td>
          </tr>
          <tr>
            <td><strong>ALTITUDE</strong></td>
            <td>1900+ METERS</td>
          </tr>
          <tr>
            <td><strong>NICKNAME</strong></td>
            <td>JURASSIC PARK</td>
          </tr>
        </table>
        <p><strong>THE STORY</strong></p>
        <p>I met Jamison in a very unusual way...the Internet. The company was being setup in Paris to source, roast and sell Panama's finest coffee in Europe. But most important over all that, I wanted to find a coffee in Panama that the world had never seen. A bit of searching led me to a very cool guy who moved from the U.S. and ended up in Boquete, land of awesome coffee. He had purchased, more than ten years ago, a lot of land that sat at a very curious location because its initial altitude began where almost every other farm on the skirts of the Baru volcano ended. Jamison turned it into his very own Jurassic Park.</p><br>
        <p>He wanted to grow the world's finest geisha. So he hired the top minds and hands in the game and he began creating what we now know as Finca Deborah, the farm growing the highest geisha in the planet. Jamison is a contrarian who has hit gold on many ventures by playing against the odds. Most people would have thought that above 1950 meters you could not grow a coffee so fine that it is called the cup of God. He proved everyone wrong. Now with geisha plants in almost optimum conditino at 4 years of growth, the are expected to yield this year or the next the world's most expensive geisha.</p><br>
        <p>Since part of the coffee ecosystem is made by the hundreds of hands that contribute to every harvest, Jamison is almost finished constructing the necessary infrastucture for Finca Deborah to be called a little village. From setting up comfortable living quarters for the workers to gardens filled with vegetables and two chicken coops, the place is worth visiting. Actually I have a very distinct memory of meeting to pickers in while trekking the farm and being astonished at the fact that they were wearing John Deere wind-breaking, impermeable, badass uniforms.</p><br>
        <p>Finca Deborah upholds every value that we work with, from innovation to sustainable impact to niche market capitalization. We hope to be the first roasters in Europe to have the pleasure of selling 2015/2016 harvests. They will be sublime.</p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive img-border-left" src="/assets/jamison.jpg" alt=""><br><br>
        <img class="img-responsive img-border-left" src="/assets/uniforme.jpg" alt="">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
   <hr>
  <div class="row text-center">
    <div class="box">
      <div class="col-lg-12" id="call_to_action">
        <h2><a href="/shop">COME AND <strong>VISIT OUR STORE</strong>. IT'S FULL OF DELICIOUS COFFEE!</a></h2>
      </div>
    </div>
  </div>
  <hr>
</div>