/*HOMEPAGE-------------------------*/
#image_resize {
  width: 100%;
  height:auto;
}

.imgWrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.imgDescription {
  border:2px solid black;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: black;
  opacity:0;
  padding:3em;
  padding-top:4em;
}

.imgWrap2 {
  position: relative;
  height: 100%;
  width: 100%;
}

.imgDescription2 {
  border:2px solid black;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: black;
  opacity:0;
  padding:3em;
  padding-top:4em;
}

.imgWrap3 {
  position: relative;
  height: 100%;
  width: 100%;
}

.imgDescription3 {
  border:2px solid black;
  font-family: 'Lato', sans-serif;
  font-size:2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: black;
  opacity:0;
  padding:3em;
  padding-top:4em;
}

.imgWrap4 {
  position: relative;
  height: 100%;
  width: 100%;
}

.imgDescription4 {
  border:2px solid black;
  font-family: 'Lato', sans-serif;
  font-size:2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: black;
  opacity:0;
  padding:3em;
  padding-top:4em;
}

.imgWrap5 {
  position: relative;
  height: 100%;
  width: 100%;
}

.imgDescription5 {
  border:2px solid black;
  font-family: 'Lato', sans-serif;
  font-size:2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: black;
  opacity:0;
  padding:3em;
  padding-top:4em;
}

.imgWrap6 {
  position: relative;
  height: 100%;
  width: 100%;
}

.imgDescription6{
  border:2px solid black;
  font-family: 'Lato', sans-serif;
  font-size:2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  color: black;
  opacity:0;
  padding:3em;
  padding-top:4em;
}
