<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">
        <div id="carousel-example-generic" class="carousel slide">
          <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <img class="img-responsive img-full" src="/assets/coffee_colors.jpg" alt="">
              <div class="carousel-caption">
                <a href="/finca_deborah">
                  <h3>THE HIGHEST GEISHA IN THE WORLD</h3>
                  <p>In December we visited Finca Deborah, a type of Jurassic Park farm growing exotic specimens.</p>
                </a>
              </div>
            </div>
            <div class="item">
              <img class="img-responsive img-full" src="/assets/felipe.jpg" alt="">
              <div class="carousel-caption">
                <a href="/elida_estates">
                  <h3>ELIDA ESTATES</h3>
                  <p>Without question the place where I saw the boundaries of coffee being pushed.</p>
                </a>
              </div>
            </div>
            <div class="item">
              <img class="img-responsive img-full" src="/assets/renaissance.jpg" alt="">
              <div class="carousel-caption">
                <a href="/blog/panama_coffeeshops">
                  <h3>MEET THE RENAISSANCE MEN</h3>
                  <p>Wilford Lamastus, Alberto Bermudez and Mario Castrellon are synonims of Panama's amazing coffee scene.</p>
                </a>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="box">
      <div class="col-lg-12" id="company">
        <p class="main_content"><strong>Pardini Coffee Company</strong> is a coffee microroaster in Paris dedicated to sourcing and roasting Panama's finest coffees. We come from the farm to the big city to share the mystery and enhance the value of a treasure. All of our coffee is traceable and selected with a vision towards innovation and excellence.</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" id="coffees">
    <div class="col-md-4 col-sm-6 portfolio-item">
        <div class='wrapper'>  
          <img src="/assets/fernandez.jpg" class="img-responsive" alt="">
        </div>  
        
        <div class="portfolio-caption">
          <h4>Cafetalera Fernandez<span style="float:right;">15 €</span></h4>
          <p class="text-muted">TYPICA WASHED</p>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            BUY NOW
          </button>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">
        <div class='wrapper'>  
          <img src="/assets/elida.jpg" class="img-responsive" alt="">
        </div>  
        
        <div class="portfolio-caption">
          <h4>Elida Estates<span style="float:right;">18 €</span></h4>
          <p class="text-muted">CATUAI NATURAL</p>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            BUY NOW
          </button>
        </div>     
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item">    
        <div class='wrapper'>  
          <img src="/assets/jaramillo.jpg" class="img-responsive" alt="">
        </div>  
        
        <div class="portfolio-caption">
          <h4>Finca Jaramillo<span style="float:right;">21 €</span></h4>
          <p class="text-muted">GEISHA NATURAL</p>
          <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
            BUY NOW
          </button>
        </div>
    </div>
  </div>
  <hr>
  <div class="row text-center">
    <div class="box">
      <div class="col-lg-12" id="about">
        <h2>WE HAND ROAST EVERY BATCH WITH PASSION, PRECISION AND PRESTIGE</h2>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" id="mission">
    <div class="col-md-4 col-sm-6 portfolio-item text-center" style="margin-left: -4px;">
      <h3>Artisanal</h3>
      <p class="main_content">Generations of craftsmen and artisans make coffee what it is today. From the man who picks the red cherry to the man who roasts to the man who serves the filter. We value every hand.</p>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item text-center" style="margin-left: 2px;">
      <h3>Sustainable</h3>
      <p class="main_content">With every coffee grain, we try to leave a footprint. Impact is essential in this ecosystem. We pay a good price to incentivize the farmer and to see proceeds put into education and technology.</p>
    </div>
    <div class="col-md-4 col-sm-6 portfolio-item text-center" style="margin-left: 2px;">
      <h3>Eco-friendly</h3>
      <p class="main_content">The farms we source from employ methods such as shade-growing, wild species preservation and clean energy generation. We also sell and deliver most of our coffee on bicycles. Clean as a whistle.</p>
    </div>
  </div>
  <hr>
  <div class="row text-center">
    <div class="box">
      <div class="col-lg-12" id="blog">
        <h2><a href="https://www.google.fr/maps/place/3+Rue+des+Chantiers,+75005+Paris/@48.8488115,2.3546968,17z/data=!3m1!4b1!4m2!3m1!1s0x47e671e4d1504c73:0xb0955d7a6903271e?hl=en">ON WEEKENDS WE BREW AND SELL OUR COFFEE OUTDOORS.</a></h2>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="box">
      <div class="col-lg-12" id="identity">
        <p class="main_content">WE CONCEIVED <strong>THIS COMPANY</strong> TO MIX THE FAST PACE OF <strong>A STARTUP</strong>, THE ARTISTIC SCIENCE OF <strong>COFFEE ROASTING</strong> AND OUR PLACE OF BIRTH, <strong>PANAMA</strong>. HEAR OUR MANIFESTO. WE WILL <strong>SELECT THE RARE AND THE EXCLUSIVE</strong>. WE WILL TRAVEL TO <strong>MEET THE MAKER</strong>. WE WILL ROAST WITH <strong>OUR HEART</strong>, BUT ALSO WITH <strong>OUR BRAINS</strong>. WE WILL TRACE THE COFFEE CHAIN <strong>DOWN TO THE CHERRY-PICKER</strong>. WE WILL DELIVER IN <strong>THE MOST SUSTAINABLE WAY</strong> POSSIBLE. WE WILL ENSURE THE PROTECTION AND <strong>THE EDUCATION</strong> OF THOSE WHO HAVE YET TO <strong>DISCOVER AMAZING COFFEE</strong>. MOST IMPORTANT, WE WILL <strong>NEVER LET YOU DOWN</strong>.</p>
      </div>
    </div>
  </div>
   <hr>
  <div class="row text-center">
    <div class="box">
      <div class="col-lg-12" id="call_to_action">
        <h2><a href="/shop">COME AND <strong>VISIT OUR STORE</strong>. IT'S FULL OF DELICIOUS COFFEE!</a></h2>
      </div>
    </div>
  </div>
  <hr>
</div>
<%= render partial: "layouts/purchase_modal" %>
<script>
    $('.carousel').carousel({
        interval: 4000
    });
</script>