<div class="container blog-post-section">
  <div class="row">
    <div class="box">
      <div class="col-lg-12">
        <h2 class="intro-text text-center">Panama's first coffeeshops</strong></h2>
        <hr>
      </div>
      <div class="col-md-12">
        <p>For a while the idea was a bit ironic. A country producing the best plants in the world…with no coffeeshops in town to taste them. And you know what I mean by coffeeshops. It was inconceivable. Just imagine a place near the Equator with elevation ranging from sea level to 3,400 meters and one of the richest volcanic soils this side of the planet has to offer. If Thomas More was a farmer instead of a trippy philosopher, he would have envisioned Utopia exactly as I just described Panama. So what would happen when you place the seeds of human’s most cherished addiction into that ground? Well you get Eden’s fruit…the coveted geisha. However, all that magical fruit was being picked and shipped to destinations far away. But that began to change a year ago when a few young entrepreneurs decided to take things into their hands.</p><br>
        <img class="img-responsive img-border-left" src="/assets/unido_cafe.jpg" alt=""><br>
        <p>A couple of Panamanian kids who had all studied in the U.S. and lived the amazing experiences that places like Portland and California have to offer, are now the pioneers of the coffeeshop scene in what the New York Times 2013 nominated as #1 destination. The place to be. These guys all came from different backgrounds, different trains of thought. But they all converged on the same idea. One came from a culinary, musical world. Another from a gourmet family with a financial eye. And the other had three generations of producers in his family. And these are just the first. They all started with the same idea: hunt the best varieties in the country and bring them to an acute-palate public. It didn’t matter if a guy from across the street or a girl who flew from Norway came to the counter, the product always had to be nothing short of incredible. It had to bring out the defining and hidden aspects of each zone, of each producer and mainly, of each plant.</p><br>
        <p>You do know what plant I am talking about right?</p><br>
        <img class="img-responsive img-border-left" src="/assets/selfie_farm.jpg" alt=""><br>
        <p>You guessed right. It’s coffee. While many of the people in Montevideo and Amsterdam must think I am joking, the fact is the best coffeeshops should be at source. At the origin. And that’s in Panama. Or Burundi. Or Tegucigalpa. It’s not fair that a small group of connoisseurs in each country is deprived of the finest fruits in their country because the only importers, roasters and shop owners that are showing the interest and meeting the price are those sitting thousands of kilometers away. I know of coffee from El Salvador’s volcanoes that only gets tasted by those who visit coffeeshops in London and green beans from Jamaica labored by its finest people that is not even owned by locals. The Panama boys have started to tip the balance. Places like Bajareque, Cafe Unido and TeCafe are roasting to the feeling of a hand chronometer and a trained set of senses. Their knowledge of the medium is unparalleled because they either learned it in the farm or they travelled far away to seek the wisest of teachers. At the core they all learned to roast. Then they setup an infrastructure adapted to the demand that they saw and that they searched for…whether it was a spot to park fixies and walk in fine denims or if it was a spot to tell tales and to feel like you’re worth the five stars.</p><br>
        <p>Even typographic design was an aspect that became of interest when setting up one of the trendiest business startups in the second decade of the 21st Century. You see the world right now is suffering from what I call the New World Industrial revolution. An era in which makers command the men with hats. Don’t believe me? Look at the coolest jobs of 2014: web developer, barista, 3D printer. In that same order. I am sorry but I do not see any investment bankers or NGO crusaders there (those were pretty cool 10 years ago). So I get back to the maker revolution. Coffee is a hand crafted a product as you can get. From picking the fruit from the tree to stamping the package with your Skandi styled, Helvetica Neue written logo. Look at TeCafe’s menu or information cards. Admire Cafe Unido’s logo.</p><br>
        <img class="img-responsive img-border-left" src="/assets/te_cafe.jpg" alt=""><br>
        <p>It’s quite funny that what began as a geeky, underground thing…something that was in the same level as Call of Duty and joints, suddenly caught on fire. But not like a space rocket. More like a tumbleweed that has gradually began to roll…always keeping a stable momentum that only solidifies more and more the third wave of coffee. A moment in time where human fuel has gone from a dark and strong label to a tangerines and mangos with a white chocolate aftertaste description. Panama has always taken a bit to look at trends or waves, assessing them and then deciding if to act or not, rather than just jumping on it. But we are now seeing an increase in trend adoption and in venture setups. In the future, this is what Panama’s coffeeshops dream of: to see their hand-crafted products sold and enjoyed abroad. Only then will they be satisfied.</p><br>
        <p>Un fuerte saludo a Wilford, a Benito, a Mario y a Lucas!</p><br>
        <p>Keep roasting, keep enjoying it.</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-12">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>