<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p><a href="http://facebook.com/pardinicoffeecompany"><i class="fa fa-facebook fa-3x" style="padding:2em;"></i></a><a href="http://twitter.com/pardinicoffee"><i class="fa fa-twitter fa-3x" style="padding:2em;"></i></a><a href="mailto:pardinicoffee@gmail.com?Subject=I%20want%20coffee"><i class="fa fa-envelope fa-3x" style="padding:2em;"></i></a></p>
      </div>
    </div>
  </div>
</footer>