<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">COFFEE AFICIONADO</h4>
      </div>
      <div class="modal-body">
        <p>We are very proud to be your coffee roaster. Due to an unexpected increase in the demand for our coffee, we are creating a funky subscription-based platform for our clients to tailor the perfect coffee experience. As such, we are currently taking orders only by email.</p>

        <p>Placing your order now guarantees that you can start enjoying your coffee at the earliest opportunity. Please leave your details and we will make sure to deliver a delicious bag of coffee to your door.</p>  
      </div>
      <%= render partial: "admin/clients/form" %>
    </div>
  </div>
</div>